body{
    color: #d70202;
    background-color:#ebe0e0;
    font-family: arial;
    font-size: 28px;
    text-align: center;
}
    img{

    
    width: 280px;
    height: 280px
    object-fit: cover;
    border-radius: 50%;

    }

    


  






