body{
    color: #ffffff;
    background-color:#ff0000;
    font-family: arial;
    font-size: 28px;
    text-align: center;
}
    img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    }

    


  






